{% macro do_nothing() %}
{% endmacro do_nothing %}

{% macro input(label, type) %}
<label>
    {{ label }}
    <input type="{{type}}" />
</label>
{% endmacro input %}


{% macro factorial(n) %}
  {% if n > 1 %}{{ n }} - {{ self::factorial(n=n-1) }}{% else %}1{% endif %}{{ n }}
{% endmacro factorial %}

{% macro include(greeting) %}
    {% include "macro_included.html" %}
{% endmacro include %}

{% macro dump(name) %}
    {{ __tera_context }}
{% endmacro dump %}

{% macro label_for(obj, sep) %}
  {% if obj.parent %}
    {{ self::label_for(obj=obj.parent, sep=sep) }}
    {{sep}}
  {% endif %}
  {{obj.label}}
{% endmacro label_for %}