{% if dhfpuoashbjk is defined %}
  <h1>Oh no!</h1>
{% else %}
  <h1>Hello!</h1>
{% endif %}

{% if product is defined %}
  <h1>Hello again!</h1>
{% else %}
  <h1>Oh no!</h1>
{% endif %}

{% if blabla is undefined %}
    Blabla
{% endif %}

{% if username is string %}
    String
{% elif product is string %}
    Wat
{% endif %}

{% if number_reviews + 1 is odd %}
    Odd
{% elif number_reviews is odd %}
    Nop
{% endif %}

{% if number_reviews is even %}
    Even
{% elif number_reviews + 1 is even %}
    Nop2
{% endif %}

{% if number_reviews is number %}
    Number
{% elif product is number %}
    Wat2
{% endif %}

{% if 10 is divisibleby 10 %}
    Divisible
{% endif %}

{% if a_tuple is iterable %}
    Iterable
{% elif reviews is iterable %}
    Iterable2
{% endif %}
