[package]
name = "tera"
version = "0.2.0"
authors = ["Vincent Prouillet <vincent@wearewizards.io>"]
license = "MIT"
readme = "README.md"
description = "Jinja2/Django templates in pure Rust"
homepage = "https://github.com/Keats/tera"
repository = "https://github.com/Keats/tera"
keywords = ["template", "html", "jinja", "django", "markup"]

[dependencies]
glob = "0.2"
serde = "0.8"
serde_json = "0.8"
clippy = {version = "~0.0.77", optional = true}
pest = "0.4"
quick-error = "1.1.0"

# used in slugify filter
slug = "0.1"
# used in striptags filters
regex = "0.1"
# used for static regex
lazy_static = "0.2"
# used in urlencode filter
url = "1.2.0"

[features]
default = []
dev = ["clippy"]

[profile.bench]
lto = true
codegen-units = 1
opt-level = 3
