[package]
name = "tera"
version = "0.11.20"
authors = ["Vincent Prouillet <prouillet.vincent@gmail.com>"]
license = "MIT"
readme = "README.md"
description = "Template engine based on Jinja2/Django templates"
homepage = "https://github.com/Keats/tera"
repository = "https://github.com/Keats/tera"
keywords = ["template", "html", "django", "markup", "jinja2"]
categories = ["template-engine"]

[dependencies]
glob = "0.2"
serde = "1.0"
serde_json = "1.0"
pest = "2"
pest_derive = "2"
error-chain = "0.12"
# used in slugify filter
slug = "0.1"
# used in striptags filters
regex = "1.0"
# used for static regex
lazy_static = "1.0"
# used in urlencode filter
url = "1"
# used in filesizeformat filter
humansize = "1"
# used in date format filter
chrono = "0.4"
# used in truncate filter
unic-segment = "0.7"

[dev-dependencies]
serde_derive = "1.0"
pretty_assertions = "0.5"

[features]
default = []
preserve_order = ["serde_json/preserve_order"]
