[package]
name = "tera"
version = "0.11.0-beta.1"
authors = ["Vincent Prouillet <vincent@wearewizards.io>"]
license = "MIT"
readme = "README.md"
description = "Template engine based on Jinja2/Django templates"
homepage = "https://github.com/Keats/tera"
repository = "https://github.com/Keats/tera"
keywords = ["template", "html", "django", "markup", "jinja2"]
categories = ["template-engine"]

[dependencies]
glob = "0.2"
serde = "1.0"
serde_json = "1.0"
pest = "^1.0.0-beta"
pest_derive = "^1.0.0-beta"
error-chain = "0.11"
# used in slugify filter
slug = "0.1"
# used in striptags filters
regex = "0.2"
# used for static regex
lazy_static = "1.0"
# used in urlencode filter
url = "1"
# used in filesizeformat filter
humansize = "1"
# used in date format filter
chrono = "0.4"

[dev-dependencies]
serde_derive = "1.0"
pretty_assertions = "0.4"
