html, body {
  height: 100%;
}

/* System Fonts as used by GitHub */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $text-colour;
  line-height: 1.6;

  // for sticky footer
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

pre {
  padding: 1rem;
  overflow: auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
}

@media only screen and (max-width: 700px)  {
  .container {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(222, 98, 98, 0.3);
  color: $text-colour;

  &:visited {
    color: inherit;
  }

  &:hover {
    border-bottom-color: $main-colour;
  }
}

.playground-container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;

  .hero {
    text-align: center;
  }

  #run {
    margin-top: 2rem;
    border: 1px solid rgba(222,98,98,0.3);
    cursor: pointer;
    flex: 100%;
    align-self: center;

    &:hover {
      border-color: #DE6262;
    }
  }

  #errors {
    color: red;
  }

  .playground {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  #context-editor {
    margin-left: 2rem;
  }

  #rendered-editor {
    width: 100%;
    margin-top: 2rem;
  }

  .ace-editor {
    width: 550px;
    height: 300px;
  }

}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
