.index {
  flex-grow: 1;

  &__highlights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 4rem;
  }

  .highlight {
    h4 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }
}
