@charset "utf-8";

@import "normalize";

*, *:before, *:after {
  box-sizing: border-box;
}

$text-colour: #111111;
$main-colour: #2ECC40;
$header-height: 50px;

@import "base";
@import "index";
@import "docs";
