@charset "utf-8";

@import "vendor/normalize";

*, *:before, *:after {
  box-sizing: border-box;
}

$text-colour: #353535;
$main-colour: #DE6262;

@import "base";
@import "layout";
@import "index";
@import "docs";
