<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include "nav.html" %}
    <div id="content" class="container">{% block content %}{% endblock content %}</div>
</body>
</html>